
:root {
    --standard-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--standard-font);
    color: #FFF;
    background: linear-gradient(135deg, #1f1f1f 0%, #141414 100%);
}

#screen {
    /* width: 400px;
    height: 650px; */
    /* border-radius: 20px; */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* border: solid black 2px; */
}

button {
    background-color: #e53e3e;
    color: white;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 50px;
    position: relative;
}

button:hover {
    top: 1.5px;
    cursor: pointer;
    background-color: #c53030;
}

#floor-plan {
    stroke: #fff;
    stroke-miterlimit: 10;
}

#floor-plan text {
    stroke: none;
    text-anchor: middle;
    fill: #fff;
    font-family: var(--standard-font);
}

#selectable * {
    transition: ease 150ms;
    stroke-width: 5px;
    fill: #ffffff00;
}

#selectable *:hover {
    cursor: pointer;
    fill: #ffffff50;
}

#furnishings {
    stroke-width: 3px;
    fill: none;
}

#walls {
    stroke-width: 5px;
}

#item-options {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#floor-plan {
    width: 95%;
    max-width: 650px;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    padding-left: 0;
    padding-right: 0;
    gap: 20px;
}

.panel h2 {
    margin: 0;
    position: relative;
    animation-name: slide-on;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-delay: 0.01s;
}

.second {
    position: relative;
    animation-name: slide-on;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-delay: 0.5s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.panel:not(:first-child) {
    display: none;
}

@keyframes slide-on {
    0% {
        top: 75px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}
