.button {
    padding: 15px;
    background-color: #ff7f50;
    color: white;
    border: none;
    min-width: 120px;
    border-radius: 500rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

.button:hover {
    background-color: #E67345;
    cursor: pointer;
}