.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 30px;
    padding-block: 30px;
    width: 100%;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    margin-bottom: 50px;
}


.container * {
    color: black;
}

.container p, .container a {
    font-weight: 600;
}

.container a {
    text-decoration: underline;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    gap: 1rem;
    width: 100%;
}


