.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 30px;
    padding-block: 30px;
    width: 100%;
    border-radius: 1rem;
    border: 2px solid white;
}


.container * {
    color: white;
}

.container p, .container a {
    font-weight: 600;
}

.container a {
    text-decoration: underline;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    gap: 1rem;
    width: 100%;
}


