name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Copy environment file
        run: cp /home/mikaelweiss/code/web/villa/.env .env

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: CI=false npm run build

      - name: Reload PM2
        run: pm2 reload villareports
